*{
    -webkit-tap-highlight-color: transparent;
}
header{
    background-color: #0a192f;
}
body{
    margin: 0;
    background-color: #0a192f;
    font-family: "poppins", sans-serif;
    padding: 50px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
.close-icon{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 30vh;
    z-index: 99;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: inherit;
    gap: 20px;
}
.sidebar a{
    width: 100%;
}
.sidebar a:hover{
    transform: none;
}
a{
    text-decoration: none;
    color: #f5f7fa;
}
a.active{
    color: #2e83dd;
}
a:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
h3{
    color: #f5f7fa;
    margin: 40px 0 40px 0;
    opacity: 0;
    animation: slide-in-up 2s ease-out forwards;
    transform: translateY(50px);
}
@keyframes slide-in-up{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.info{
    color: #c7c7c7;
    width: 80%;
    font-size: 12px;
    padding: 20px;
    
}
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.image-container{
    width: 20%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #2e83dd;
    opacity: 0;
    animation: slide-in-up 2s ease-out forwards;
    animation-delay: .5s;
    transform: translateY(50px);
}
@keyframes slide-in-up{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.details{
    opacity: 0;
    animation: slide-in-left 2s ease-out forwards;
    animation-delay: 1s;
    transform: translateX(50px);
}
@keyframes slide-in-left{
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
h2{
    color:#c7c7c7;
    text-align: center;
    margin-top: 50px;
    animation: zoomIn 2s ease-out forwards;
    animation-delay: 2s;
    opacity: 0;
    transform: scaleX(0.8);
}
@keyframes zoomIn{
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.skills{
    color: #2e83dd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.skill-1{
    animation: slide-in-up 1s ease-out forwards;
    animation-delay: 2.5s;
    transform: translateY(20px);
    opacity: 0;
}
@keyframes slide-in-up{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.skill-2{
    animation: slide-in-up 1s ease-out forwards;
    animation-delay: 3s;
    transform: translateY(20px);
    opacity: 0;
}
@keyframes slide-in-up{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.skill-3{
    animation: slide-in-up 1s ease-out forwards;
    animation-delay: 3.5s;
    transform: translateY(20px);
    opacity: 0;
}
@keyframes slide-in-up{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.btn{
    opacity: 0;
    animation: slide-in-up 2s ease-out forwards;
    animation-delay: 1.5s;
    transform: translateY(50px);
}
@keyframes slide-in-up{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
button{
    background-color: #2e83dd;
    color: #f5f7fa;
    border-style: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 10px #1e90ff, 0 0 20px #1e90ff;
    margin-top: 10px;
}
button:hover{
    transform: scale(1.05);
    background-color: #2e83dd;
}
.copyright-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    position: fixed;
    bottom: 0;
    font-size: 12px;
    color: #c7c7c7;
}

@media (max-width: 500px){
    body{
        padding: 30px;
    }
    .about{
        gap: 20px;
    }
    .image-container{
        width: 40%;
        height: 100%;
    }
    img{
        width: 120px;
        height: 130px;
    }
    .info{
        padding: 0;
    }
    h3{
        margin-bottom: 30px;
    }
    button{
        margin-top: auto;
    }
    .hide-menu{
        display: none;
    }
    .sidebar{
        padding: 50px 50px 10px 30px;
    }
}
@media (min-width: 501px) and (max-width: 800px){
    body{
        padding: 30px;
    }
    .image-container{
        width: auto;
        height: auto;
    }
    img{
        width: 122px;
        height: 130px;
    }
    button{
        margin-top: auto;
    }
}
@media (max-width: 700px){
    .hide-menu{
        display: none;
    }
    .sidebar{
        padding: 50px 50px 10px 30px;
    }
}
@media (min-width: 701px){
    .hamburger-icon{
        display: none;
    }
}